<div class="card-trip">
  <%= cl_image_tag("xdiiepjp66bbf91k1knb") %>
  <div class="card-trip-infos">
    <div>
      <h1><%= @list.name  %></h1>
      <h2>Bookmarks:</h2>
      <div class="card-container">
        <% @list.bookmarks.each do |bookmark| %>
          <div class="card-product mt-2 h-100 position-relative">
            <img class="flex-shrink-0"
              src=<%= bookmark.movie.poster_url %>
            />
            <div class="card-product-infos">
              <h2><%= bookmark.movie.title %></h2>
              <p ><%= bookmark.comment %></p>
              <%= link_to bookmark_path(bookmark),
              class: "position-absolute bottom-0 end-0 m-2",
                data: { turbo_method: :delete,
                turbo_confirm: "Do you want to delete this bookmark?" } do %>
                  <i class="fa-solid fa-trash text-muted"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
    <%= link_to 'Add a new bookmark', new_list_bookmark_path(@list),
    class: "mb-2 d-flex justify-content-center btn btn-primary btn-block text-muted text-center" %>
</div>

<%= link_to 'Back to the lists', lists_path, class: "btn btn-primary text-muted m-2" %>
